<button class="button is-primary" id="add-post-btn">Add New Post</button>

{{#if posts.length}}
  {{#each posts}}
    <div class="post card">
      <header class="card-header">
        <p class="card-header-title">{{this.title}}</p>
      </header>

      <div class="card-content">
        <p>{{this.createdAt}}</p>
      </div>

      <footer class="card-footer">
        <a class="button is-primary" href="/post/{{this.id}}">Read More</a>
        <button class="button is-light edit-post-btn" data-id="{{this.id}}">Edit</button>
        <button class="button is-dark delete-post-btn" data-id="{{this.id}}">Delete</button>
      </footer>
    </div>
  {{/each}}
{{else}}
  <p>No posts yet</p>
{{/if}}

<script src="/js/addPost.js"></script>
<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>
