<div class="post card">
  <header class="card-header">
    <p class="card-header-title">{{title}}</p>
  </header>

  <div class="card-content">
    <p>{{content}}</p>
  </div>

  <footer class="card-footer">
    <p>By {{user.username}} on {{createdAt}}</p>
  </footer>
</div>

<div class="comments card">
  <header class="card-header">
    <p class="card-header-title">Comments</p>
  </header>
  {{#if comments.length}}
    <div class="card-content">
      <ul>
        {{#each comments}}
          {{> comment}}
        {{/each}}
      </ul>
    </div>
  {{else}}
    <div class="card-content">
      <p>No comments yet</p>
    </div>
  {{/if}}
</div>

{{#if logged_in}}
<div class="add-comment card">
  <header class="card-header">
    <p class="card-header-title">Add a Comment</p>
  </header>
  <div class="card-content">
    <form id="comment-form">
      <textarea name="comment_text" id="comment-text" placeholder="Enter your comment here..." required></textarea>
      <button class="button is-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
{{else}}
<div class="card">
  <div class="card-content">
    <p><a href="/login">Log in</a> to leave a comment.</p>
  </div>
</div>
{{/if}}

<script src="/js/comment.js"></script>